@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", "Vazirmatn", ui-sans-serif, system-ui, sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #8b5cf6 transparent;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #8b5cf6;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #a78bfa;
}

.custom-scrollbar {
  scrollbar-gutter: stable;
}
